venv/
.venv/
__pycache__/
*.pyc
.env
.vercel
logs/
.roo/
.github/
.vscode/
node_modules/
dist/
build/
coverage/
*.log
*.out
*.pid
*.seed
*.pid.lock
*.egg-info/
config/system-config/
services/agent-api/tests/data-files/
tests/
deps/*

.playwright-cli/
.claude/